# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
terraform.tfvars
terraform.tfvars.json

# Ansible
/ansible/inventory.ini